.pages_elementLabel{
	border-bottom:solid 1px #888;
	background-color:#fff;
	padding-right:8px;
	vertical-align:top;
}

.pages_formTable{
	border-collapse:collapse;	
}
.pages_elementValue{
	border:solid 1px #000;
	background-color:#fff;
	padding:2px;
	
}

.pages_formTitle{
	text-align:center;
	font-size:15px;
	background-color:#eee;
	border-bottom:solid 1px #888;
}

