body, table, input, input, textare, td {
	font-size: 13px;
	font-family: arial;
}

.page_gridLayout {
	width: 100%
}

.page_error {
	color: #f00
}

.listmenu_item_selected {
	background-color: #0d3;
}

div[class="listmenu_item_selected"]>a {
	color: #fff
}

.menubar{
	background-color:#000;
	color:#FFF;
	width:100%;
	padding:2px
}
.menubar_item{
	color:#fff;
}


.menu_popup{
	position:absolute;
	border-radius:3px;
	background-color:#ddd;
	box-shadow:2px 2px 3px #cccccc;
	padding:3px;
	cursor:pointer;
	min-width:100px;
}
.menu{
	cursor:pointer;
	padding-left:20px;
	color:#fff
}

.menu_hidden{
	display:none;
}
.menu_disabled{
	cursor:hand;
	padding-left:20px;
	color:#888;
}
.menu_seperator{
	border-bottom:solid 1px #000
}

.menu_linkitem{
	
}

.menu_seperator{
	border-top:solid 1px #eee;
}